.enviando {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.fotoprevia {
    width: 80%;
    margin: 20px;
}


.cuadro {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: solid blue 2px;
}

.cuadro input {
  all: unset;
  padding: 1em;
  color: black;
  text-align: center;
  border: grey dashed 1px;
}

.cuadro button {
  background-color: yellow;
  color: black;
  padding: 10px;
}

.error {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.cuadro button,
.boton {
  background-color: yellow;
  color: black;
  padding: 0 10px;
  margin: 5px 10px;
  border: solid grey 2px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.flex-container-fixed {
  display: flex;
  flex-wrap: nowrap;
}

.mouseover:hover {
  background-color: #c9c6c6;
  font-weight: bold;
}